$primary-color: #64ff00;
$color-bg1: #0B0B0B;
$color-bg2: #252525;
$color-fonts: #fff;
$color-gray-details: #222222;
$color-blue-details: #82CFFA;
$color-pink: #D932AC;

:export {
  primaryColor: #64ff00;
  color-bg1: $color-bg1;
  color-bg2: $color-bg2;
  color-fonts: $color-fonts;
  color-gray-details: $color-gray-details;
  color-blue-details: $color-blue-details;
  color-pink: $color-pink;
}

